.git
.github
.husky
.vscode
dist
migrations
node_modules
scripts
release
.dockerignore
.env
.env.example
.eslintcache
.gitattributes
.gitignore
.prettierignore
.prettierrc
data.db
docker-compose.yaml
Dockerfile
eslint.config.ts
LICENSE
*.md
tsconfig.build.tsbuildinfo
logs
*.log
npm-debug.log*
.DS_Store
*.tgz
*.sh