services:
  quoteosch-api-init:
    container_name: quoteosch-api-init
    image: brni05/quoteosch:latest
    security_opt:
      - no-new-privileges=true
    command: sh -c "npm run db:init:prod"
    volumes:
      - quote_data:/quoteosch/database
    restart: "no"
    networks:
      - quoteosch-network

  quoteosch-api:
    container_name: quoteosch-api
    image: brni05/quoteosch:latest
    security_opt:
      - no-new-privileges=true
    env_file:
      - .env
    volumes:
      - quote_data:/quoteosch/database
    ports:
      - "127.0.0.1:${PORT}:${PORT}"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
    networks:
      - quoteosch-network

volumes:
  quote_data:

networks:
  quoteosch-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.100.0.0/24